.footer{
    padding: 10px;
    background: linear-gradient(to top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.05) 100%);
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100vw;
}